.option-item {
	.similarTag {
		background-color: #84e58d;
	}
	.differenceTag {
		background-color: #f78e8e;
	}

	#answer-wrapper {
		border: 2px solid #06c71f;
		border-radius: 5px;
	}

	#distractor-wrapper {
		border: 2px solid #3d73dd;
		border-radius: 5px;
	}
	.option-components {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 8px;
		padding-top: 8px;
	}

	.extra-wrapper {
		align-self: flex-end;
	}
	.option-text {
		vertical-align: middle;
	}

	.answer-label {
		font-size: xx-small;
		color: #06c71f;
	}
	.distractor-label {
		font-size: xx-small;
		color: #3d73dd;
	}

	.tags-container {
		display: flex;
		flex-wrap: wrap;
		.tag {
			border-radius: 4px;
			padding: 4px 6px;
			margin: 0 5px 8px 0;
			font-size: 10px;
		}
	}
}
