#question-screen-wrapper {
	display: grid;
	grid-template-rows: 36px auto;
	#question-screen {
		display: grid;
		grid-template-rows: 20px auto;
	}

	#question-input-section {
		padding-bottom: 24px;
		display: grid;
		grid-template-rows: 30px 1fr auto 36px;
		row-gap: 12px;
	}

	#editor {
		display: grid;
		grid-template-rows: auto 1fr;
		row-gap: 12px;
		place-items: stretch;
	}

	button {
		background: none;
		border: none;
		height: 48px;
		width: 300px;
		background-color: #3d73dd;
		color: white;
		font-size: 14px;
		border-radius: 8px;
		place-self: center;
	}
}
