#qstemeditor {
	display: grid;
	row-gap: 12px;

	.qstem-editor {
		// height: 500px !important;
		border: 1px solid #f1f1f1 !important;
		padding: 5px !important;
		border-radius: black 2px !important;
	}
	.editor {
		box-sizing: border-box;
		border: 1px solid #c4c3c4;
		cursor: text;
		padding: 16px;
		border-radius: 2px;
		//   box-shadow: inset 0px 1px 8px -3px #ababab;
		background: #fefefe;
		min-height: 200px;
		max-height: 200px;
	}

	// .editor :global(.public-DraftEditor-content) {
	// 	overflow: auto;
	// 	height: 100px;
	// }
	h2 {
		margin-top: 0;
	}

	h3 {
		color: #3d8add;
		margin: 8px 0;
	}
	.helper-text {
		font-style: italic;
		font-weight: 300;
		color: #3d8add;
		font-size: 14px;
		margin: 12px 0;
	}

	#template {
		width: 100%;
		margin: 24px 0 16px;
	}

	.submit {
		background: none;
		border: none;
		background-color: #3d8add;
		color: white;
		height: 48px;
		width: 200px;
		font-weight: 700;

		font-size: 16px;
		// height: 64px;
		border-radius: 8px;

		display: grid;
		place-items: center;
		cursor: pointer;
		&:hover {
			background-color: #7eaad9;
		}
	}
}
