.qstem-editor {
	height: 500px !important;
	border: 1px solid #f1f1f1 !important;
	padding: 5px !important;
	border-radius: 2px !important;
}
h2 {
	margin-top: 0;
}

h3 {
	color: #3d8add;
	margin: 8px 0;
}
.helper-text {
	font-style: italic;
	font-weight: 300;
	color: #3d8add;
	font-size: 14px;
}

#template {
	width: 100%;
	margin: 16px 0;
}
