.option-list-title {
  margin-bottom: 7px;
  color: #555555;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 10px;
}
.answer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.distractor-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.option-item-wrapper {
  padding-bottom: 5px;
}
