.login{
	#main-logo {
		text-align: center;
		font-size: 48px;
		font-weight: 900;
		margin-bottom: 20px;
	}

	#intro{
		text-align: center;
		margin-bottom: 20px;
	}
	#clause{
		background-color: white;
		box-shadow: 2px 2px 2px gray;
		border-radius: 10px;
		padding: 20px;
		margin-bottom: 20px;
	}
	#signInDiv{

	}
}
#login {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	* {
		margin: 16px 0;
	}
	#email-section {
		display: flex;
		font-size: 18px;
		align-items: center;
		margin-bottom: 0;

		input {
			border: none;
			background: none;

			padding: 4px 8px;
			margin-left: 8px;
			border: gray 1px solid;
			border-radius: 4px;
		}
	}
}
