#question-screen-wrapper {
	display: grid;
	grid-template-rows: 36px auto;
	place-items: stretch;
	row-gap: 16px;
	#question-nav {
		color: #3d73dd;
	}

	#question-screen {
		background-color: white;
		box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
		padding: 36px;
		border-radius: 8px;

		display: grid;
		grid-template-rows: 20px auto auto 1fr;
		row-gap: 24px;
	}

	#question-explanation {
		place-self: start stretch;
		#answer-wrapper {
			.answer-option {
				background-color: #f2f5f8;
				border-radius: 12px;
				padding: 16px;
				margin-bottom: 12px;

				.option-text {
					font-weight: 700;
				}

				.option-explanation {
					margin-left: 24px;
				}
			}
		}
	}

	.question-option-item {
		margin-bottom: 8px;
		display: grid;
		column-gap: 16px;
		grid-template-columns: 20px auto;
		place-items: left center;
		padding: 8px;
		input {
			font-size: 16px;
		}

		&:hover {
			background-color: #f2f5f8;
		}
	}

	.nav-button {
		background: none;
		border: none;
		height: 48px;
		width: 200px;
		background-color: #3d73dd;
		color: white;
		font-size: 14px;
		border-radius: 8px;
		cursor: pointer;

		&:disabled {
			background-color: rgb(191, 191, 191);
			cursor: default;
		}
	}

	#hide-answer {
		background-image: none;
		border: none;
		height: 48px;
		width: 200px;
		font-size: 14px;
		border-radius: 8px;
		margin: 8px auto;

		i {
			margin-left: 8px;
		}
		&:disabled {
			color: rgb(191, 191, 191);
			cursor: default;
		}
	}
}
