#question-screen-wrapper {
  display: grid;
  grid-template-rows: 36px auto;
  place-items: stretch;
  row-gap: 16px;
}

#question-nav {
  color: #3d73dd;
}

#question-screen {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
  padding: 36px;
  border-radius: 8px;

  display: grid;
  grid-template-rows: 36px 1fr 1fr;
  row-gap: 24px;
}
