#option-create-wrapper {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
	padding: 36px;
	border-radius: 8px;
	min-height: 90%;
	height: fit-content;

	.section {
		.header {
			font-size: 20px;
			font-weight: 700;
			margin-bottom: 16px;
		}
		.sub-header {
			font-size: 18px;
			font-weight: 700;
			margin-right: 8px;
			color: #3d73dd;
		}
	}
	#options-wrapper {
		display: grid;
		height: 100%;
		grid-template-rows: 1fr auto;

		#option-create {
			display: grid;
			row-gap: 12px;
		}

		#keywords-wrapper {
			display: grid;
			grid-template-rows: auto 1fr;
			#keywords-container {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				justify-content: space-between;

				.keyword-item {
					background-color: #3d73dd;
					padding: 8px;
					border-radius: 8px;
					color: white;
					cursor: pointer;
					margin-bottom: 12px;
				}
				.reset-item {
					background-color: rgb(223, 223, 223);
					color: black;
				}
			}
		}

		.tags {
			display: flex;
			.keyword-item {
				margin-left: 8px;
			}
		}

		#options {
			display: grid;
			grid-template-rows: 1fr auto;
			#options-list {
				overflow-y: auto;
			}
		}

		.option-container {
			height: inherit;
			overflow-y: auto;
			margin-bottom: 16px;
		}
	}

	#clustering-wrapper {
		display: grid;
		height: 100%;
		grid-template-rows: auto 1fr auto;
		#my-option {
			.section-element {
				display: flex;
				align-items: center;
			}

			.keyword-item {
				background-color: #3d73dd;
				color: white;
				padding: 4px 8px;
				border-radius: 4px;
			}
		}
		.view-mode-wrapper {
			width: 100%;
			justify-content: flex-end;
			.view-mode {
				margin: 0 8px;
			}
		}
	}

	.option-box {
		display: flex;
		justify-content: space-between;
		min-height: 50%;
	}

	#submit-button {
		// text-align: right;
		background: none;
		border: none;
		height: 48px;
		width: 200px;
		background-color: #3d73dd;
		color: white;
		font-size: 14px;
		border-radius: 8px;
	}
	.question-info-container {
		background-color: #f2f5f8;
		padding: 15px;
		border-radius: 4px;
		font-weight: 300;
		margin-bottom: 8px;

		.header {
			font-weight: 700;
			color: #3d73dd;
			margin-bottom: 8px;
		}
	}

	#question-info {
		#question-info-toggle {
			margin: 16px auto;
			width: fit-content;
			color: #3d73dd;
			font-weight: 700;
			cursor: pointer;
			i {
				margin-left: 8px;
			}
		}
	}

	#question-content-wrapper {
		height: fit-content;
		#question-stem-content p {
			font-size: 18px;
			font-weight: 600;
		}
	}
}
