#mypage {
	.question-list-item {
		background-color: white;
		margin-bottom: 16px;
		border-radius: 16px;
		position: relative;
		top: 0;

		&:hover {
			top: -4px;
		}
	}

	.view-toggle {
		margin: 16px auto;
		width: fit-content;
		color: #3d73dd;
		font-weight: 700;
		cursor: pointer;
		i {
			margin-left: 8px;
		}
	}

	.option-item {
		padding: 24px 36px;
		background-color: white;
		margin-bottom: 16px;
		border-radius: 16px;

		.option-text-wrapper {
			display: flex;
			align-items: center;

			.indicator-answer,
			.indicator-distractor {
				font-size: 10px;
				color: white;
				padding: 4px;
				border-radius: 4px;
			}
			.indicator-answer {
				background-color: green;
			}

			.indicator-distractor {
				background-color: rgb(166, 9, 9);
			}

			.option-text {
				margin-left: 8px;
			}
		}
		.option-nav {
			text-align: right;
			font-size: 14px;
			cursor: pointer;
			position: relative;
			top: 0;

			&:hover {
				top: -2px;
			}
		}
	}
	button {
		background: none;
		border: none;
		height: 48px;
		width: 300px;
		background-color: #3d73dd;
		color: white;
		font-size: 14px;
		font-weight: 700;
		border-radius: 8px;
		place-self: end;

		cursor: pointer;
	}
}
