#question-list-solve {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
	padding: 36px;
	border-radius: 8px;
	overflow: hidden;

	#question-list-header {
		background-color: #e1e9ff;
		box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
		height: 52px;
	}

	#question-list-header {
		display: grid;
		grid-template-columns: 100px auto 150px;
		place-items: center;
	}
}
