.app-wrapper {
	display: grid;
	grid-template-columns: 350px auto;
	height: 100vh;
	#left-sidebar {
		max-width: 350px;
		background-color: white;
		padding: 56px 36px;
		display: grid;
		grid-template-rows: 30% auto;

		#main-logo {
			text-align: center;
		}

		#side-nav {
			place-self: start;
			display: grid;
			row-gap: 36px;
		}
	}

	main {
		background-color: #f2f5f8;
		padding: 36px;
		display: grid;
		place-items: stretch;
	}
}
