.question-list-item {
	display: grid;
	grid-template-columns: 100px auto 150px;
	place-items: center;
}

.question-list-item {
	padding: 24px 0;
	border-bottom: 0.5px solid #e1e9ff;

	&:hover {
		font-weight: 600;
	}
}
